@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219 20% 20%;

    --card: 0 0% 100%;
    --card-foreground: 219 20% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 219 20% 20%;

    --primary: 225 68% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 219 36% 76%;
    --secondary-foreground: 219 20% 20%;

    --muted: 219 36% 90%;
    --muted-foreground: 219 20% 45%;

    --accent: 0 0% 100%;
    --accent-foreground: 219 20% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 219 36% 85%;
    --input: 219 36% 85%;
    --ring: 225 68% 53%;

    --radius: 0.5rem;

    --sidebar-background: 220 37% 77%;
    --sidebar-foreground: 219 20% 20%;
    --sidebar-primary: 225 68% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 68% 60%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 225 68% 45%;
    --sidebar-ring: 0 0% 100%;
  }

  .dark {
    --background: 219 20% 20%;
    --foreground: 219 36% 76%;

    --card: 219 20% 24%;
    --card-foreground: 219 36% 76%;

    --popover: 219 20% 20%;
    --popover-foreground: 219 36% 76%;

    --primary: 225 68% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 20% 42%;
    --secondary-foreground: 219 36% 76%;

    --muted: 219 20% 30%;
    --muted-foreground: 219 36% 60%;

    --accent: 219 20% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 219 36% 76%;

    --border: 219 20% 35%;
    --input: 219 20% 35%;
    --ring: 225 68% 53%;
    
    --sidebar-background: 222 90% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 225 68% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 68% 53%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 225 68% 35%;
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.rdp-vhidden {
  @apply hidden;
}

.loader {
  width: 4px;
  color: var(--foreground);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow:
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0 0 5px, 38px 0 0 5px, 57px 0 0 5px,
    19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
}

@keyframes l26 {
  12.5% {
    box-shadow:
      19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 5px,
      19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 0px
  }

  25% {
    box-shadow:
      19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px,
      19px 19px 0 0px, 38px 19px 0 5px, 57px 19px 0 0px
  }

  50% {
    box-shadow:
      19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px,
      19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 5px
  }

  62.5% {
    box-shadow:
      19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
      19px 0 0 5px, 38px 0 0 0px, 57px 0 0 0px,
      19px 19px 0 0px, 38px 19px 0 5px, 57px 19px 0 5px
  }

  75% {
    box-shadow:
      19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 0px, 57px 0 0 5px,
      19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 5px
  }

  87.5% {
    box-shadow:
      19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0 0 0px, 38px 0 0 5px, 57px 0 0 0px,
      19px 19px 0 5px, 38px 19px 0 0px, 57px 19px 0 0px
  }
}